.header__lang-link{
  margin: 18px 0 0 18px;
  padding: 0;
  background: inherit;
  border-style: none;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: calc(18px + ((100vw - 320px) / 74.66));;
  line-height: 1.1;
  text-align: right;
  color: #FFFFFF;
  transition: opacity 0.3s ease-out;
}

.header__lang-link:hover{
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .header__lang-link{
    font-size: 24px;
    line-height: 28px;
  }
}

.header__lang-link:nth-child(2){ /* Тут сделал пока так. Дальше этот вопрос решится с помощью скрипта.*/
  text-decoration-line: underline;
}