.photo-grid{
  max-width: 1184px;
  width: 90%;
  margin: calc(64px + ((100vw - 320px) / 17.23)) auto 0 auto;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

@media screen and (min-width: 768px) {
  .photo-grid{
    margin: 90px auto 0 auto;
  }
}

@media screen and (min-width: 960px) {
  .photo-grid{
    width: calc(864px + 100vw - 960px);
  }
}