.cover__subtitle{
  margin: 0 auto 0 auto;
  padding: 0;
  max-width: calc(288px + ((100vw - 320px) / 6.22));
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: calc(14px + ((100vw - 320px) / 112));
  line-height: 1.14;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .cover__subtitle{
    font-size: 18px;
    max-width: 360px;
  }
}