.cover__title{
  margin: 0 auto calc(16px + ((100vw - 320px) / 28)) auto;
  padding: 0;
  max-width: calc(250px + ((100vw - 320px) / 1.445));
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: calc(32px + ((100vw - 320px) / 11.2));
  line-height: 1.1;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .cover__title{
	max-width: 560px;
    font-size: 72px;
    margin: 0 auto 32px auto;
  }
}